.flex-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-right: 3px;
    width: 100%;
}

.flex-container > img {
    width: available;
    margin-bottom: 10px;
    padding: 20px;
    background-color: gray;
    border-radius: var(--border-radius);
    border: 2px solid var(--main-text-color-light);
}

.flex-container::before {
    content: '';
    margin-top: 10px;
    height: 0;
}

