.grid-container {
    display: grid;
    grid-template-areas:
            "_logo header"
            "_menu main"
            "_galeries main"
            "footer footer";
    grid-gap: 5px;
    margin-right: 20px;
    grid-template-columns: 250px calc(100vw - 295px);
    grid-template-rows: 95px 235px minmax(55px, calc(100vh - 40px - 15px - 95px - 235px - 32px)) 32px;
    min-height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
    position: fixed;
    overflow: hidden;
    min-width: 600px;
}

.grid-container > div {
    text-align: left;
}

.item-logo {
    grid-area: _logo;
    background-color: var(--color-elements-1);
}

.item-header {
    grid-area: header;
    background-color: var(--color-elements-1);
    padding: 5px;
    display: flex;
}

.item-header > div {
    display: flex;
    flex-direction: column;
    border: var(--main-text-color-light) solid var(--border-size);
    border-radius: var(--border-radius);
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.item-header > div> :first-child{
    font-family: 'Satisfy';
}

.item-menu {
    grid-area: _menu;
}

.item-galleries {
    grid-area: _galeries;
}

.item-galleries > div {
    overflow-x: hidden;
}

.item-galleries::-webkit-scrollbar {
    display: none;
}

.item-main {
    grid-area: main;
    overflow-y: scroll;
}

.item-main::-webkit-scrollbar {
    display: none;
}

.item-footer {
    grid-area: footer;
    font-size: 10pt;
}