.grid-container {
    display: grid;
    grid-template-areas: "header header header" "_menu main spacer" "footer footer footer";
    grid-gap: 5px;
    background-color: transparent;
    /* padding: 3px; */
    grid-template-columns: 250px auto 10px;
    grid-template-rows: min-content auto min-content;
    min-height: 97vh;
    width: 100%;
}

.grid-container > div {
    background-color: inherit;
    text-align: left;
    /* padding: 5px 5px; */
}

.item-header {
    grid-area: header;
}

.item-menu {
    grid-area: _menu;
    position: sticky;
    /* top: 0px; */
    height: 100%;
}

.item-main {
    grid-area: main;
    overflow-x: hidden;
}

.item-footer {
    grid-area: footer;
    font-size: 10pt;
}

/*.item-main > div > div {*/
/*    background-color: var(--color-elements-1);*/
/*    border: 2px solid var(--main-text-color-light);*/
/*}*/
