input[type=button] {
	background: var(--color-elements-1);
	color: var(--main-text-color-light);
	border: none;
	border-radius: var(--border-radius);
    height: 34px;
}

input[type=button]:hover,
input[type=button]:focus {
    background: var(--color-elements-2);
    cursor: pointer;
}

input[type=button].large {
    margin: 10px;
    padding: 20px;
}

input[type=button].close {
    font-family: 'Material Icons';
    color: gray;
    font-size: 32px;
    font-weight: bold;
    background: var(--main-bg-color-all);
}

input[type=button].close:hover,
input[type=button].close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type=text] {
	border: 2px solid var(--color-elements-1);
    border-radius: var(--border-radius);
}

input[type=text]:focus,
input[type=text]:hover{
    outline: none;
    border-color: var(--color-elements-2);
}