input[type=button] {
    display: block;
    background: var(--color-elements-1);
    color: var(--main-text-color-light);
    border: 2px solid var(--main-text-color-light);
    border-radius: var(--border-radius);
    height: 34px;
    width: 100%;
}

input[type=button]:hover,
input[type=button]:focus {
    background: var(--color-elements-2);
    cursor: pointer;
}

input[type=button].large {
    /*margin: 10px;*/
    /*padding: 20px;*/
}

input[type=button].close {
    font-family: 'Material Icons';
    color: black;
    font-size: 32px;
    font-weight: bold;
    background: transparent;
    border: none;
    box-shadow: none;

}

input[type=button].close:hover,
input[type=button].close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

input[type=text] {
    border: 2px solid var(--color-elements-1);
    border-radius: var(--border-radius);
}

input[type=text]:focus,
input[type=text]:hover {
    outline: none;
    border-color: var(--color-elements-2);
}