div.item-menu {
    background-color: var(--color-elements-1);
    border-radius: var(--border-radius);
    position: relative;
}

div.item-menu > div {
    border: var(--border-size) solid var(--main-text-color-light);
    border-radius: var(--border-radius);
    margin: 5px;
    padding: 5px;
    height: calc(100% - 23px);
    overflow-y: scroll;
}

div.item-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.item-menu ul > li {
    padding: 2px 2px 2px 5px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3px;
    cursor: pointer;
}

div.item-menu ul > li:hover {
    background-color: var(--color-elements-2);
}

div.item-menu ul > li:last-child {
    margin-bottom: 0px;
}

div.item-menu ul > li > span {
    margin-right: 3px;
    font-size: 20pt;
    font-family: "Material Icons";
}

div.item-menu ul > li[data-dragdrop-droppable-style=true] {
    background-color: var(--color-elements-4);
}

div.item-menu ul > li[data-dragdrop-droppable-style=false] {
    background-color: inherit;
}
