.modal-container {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: var(--main-bg-color-all);
    margin: 2% auto; /* 5% from the top and centered */
    padding: 20px;
    border: none;
    width: 80%; /* Could be more or less, depending on screen size */
    color: black;
	opacity: 1.0;
	text-align: center;
}

.modal-grid-header {
    display: grid;
    background-color: var(--main-bg-color-all);
	grid-template-columns: 1fr 1fr 1fr 1fr 32px;
    gap: 10px 10px;
}

.modal-grid-images {
    display: grid;
    margin: 10px 39px 0px 0px;
    gap: 10px 10px;
    background-color: var(--main-bg-color-all);
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
}

.modal-grid-images>div {
    background-color: var(--main-bg-color-all);
    border: 1px solid var(--main-color-elements);
    overflow: no-content;
}

.modal-grid-images>div>image {
    border: 1px solid var(--main-color-elements);
    /*object-fit: scale-down;*/
    /*max-width: ;*/
    /*padding: 0px;*/
    max-height: 24vh;
}