@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
/*	colors*/
	--main-bg-color-all: white;
	--main-color-element: #009999;
	--main-color-elemenst-alt1: #6d2b5c;
	--main-color-elemenst-alt2: #8c94ac;

/*	texts*/
	--main-text-color-dark: black;
	--main-text-color-light: white;

/*	miscellaneous*/
	--border-radius: 2px;
}

* {
    font-family: 'Roboto', sans-serif;
	font-size: 12pt;
    /* font-family: 'Caveat', cursive; */
}

div {
    background-color: var(--main-color-element);
    color: var(--main-text-color-light);
    border-radius: var(--border-radius);
}

div.container {
	background-color: var(--main-bg-color-all);
	color: var(--main-text-color-dark);
}
